<table>
  <tr>
    <td>GET /</td>
    <td>Show API documentation</td>
  </tr>
  <tr>
    <td>GET /last/3</td>
    <td>Access an array of the 3 most recent listings</td>
  </tr>
  <tr>
    <td>GET /id/3</td>
    <td>Access the JSON representation of the listing with ID 3</td>
  </tr>
  <tr>
    <td>POST /new_listing</td>
    <td>Create a new listing</td>
  </tr>
  <tr>
    <td>POST /new_user</td>
    <td>Create a new user</td>
  </tr>
</table>
